* {
    margin: 0;
    padding: 0;
}

body {
    background: #797171;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

#heading{
    font-weight: 700;
    font-size: 12px; 
      color: #1b1b41;
      padding: 5px;
      margin-bottom: 10px;
}

#heading a{
    font-size: 14px;
    text-decoration: none;
    color: #0f0f24
}


.main-con {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#controls {
    display: none;
}

@media (max-width: 768px) {

    #controls {
        width: 200px;
        background-color: #161a41;
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
    }
}

#controls div {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2px;
}

#controls button {
    margin: auto;
    padding: 12px;

    border-radius: 12px;
    cursor: pointer;
}

#controls button:active {
    background-color: #388e3c;
}

#scr {
    position: absolute;
    font-weight: bold;
    font-size: 22px;
    top: 20px;
    right: 200px;
    color: #161a41;
}

#board {
    background: linear-gradient(#161a41, #0f0f24);
    height: 90vmin;
    width: 90vmin;
    border: 3px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(120deg, red, yellow);
    border: 2px solid black;
    border-radius: 30px;
    transform: scale(1.03);
    animation: ani .4s linear infinite;

}

.snk {
    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 30px;
}

.food {
    background: linear-gradient(140deg, rgb(189, 7, 53), rgb(253, 86, 156));
    border: 3px solid rgb(255, 37, 66);
    border-radius: 30px;
    /* animation: ani .4s linear  infinite  ; */
}

@keyframes ani {
    0% {
        box-shadow: -2px 5px 10px 5px rgb(156, 234, 246);
    }

    50% {
        box-shadow: -2px 5px 20px 5px rgb(0, 243, 252);
    }

    100% {
        box-shadow: -2px 5px 10px 5px rgb(20, 105, 225);
    }
}